[Service]
ExecStart=
ExecStart=/usr/bin/docker daemon -H fd:// --cluster-advertise {{hostvars[ansible_hostname][network_interface].ipv4.address}}:2376 --cluster-store consul://{{hostvars[ansible_hostname][network_interface].ipv4.address}}:8500
