defaults
  maxconn  4000
  retries  2
  timeout  connect 5s
  timeout  client  10s
  timeout  server  10s
  balance  roundrobin


backend app
  mode http
  option httpchk
  option log-health-checks
  default-server inter 2s fall 1 rise 1
  server node1_chatio_1 node1_chatio_1:3000 check
  server node1_chatio_2 node1_chatio_2:3000 check
  server node2_chatio_1 node2_chatio_1:3000 check
  server node2_chatio_2 node2_chatio_2:3000 check


frontend app-fe
  mode http
  bind *:80
  use_backend app
