defaults
  maxconn  4000
  retries  3
  timeout  connect 5s
  timeout  client  1m
  timeout  server  1m
  balance  roundrobin


backend mongo
  mode tcp
  server db db:{{mongo.port}}

backend redis
  mode tcp
  server db db:{{redis.port}}

{% for service in services %}
{% if service.proxy %}
backend {{service.container_name}}
  mode {{service.protocol}}
  {% for n in range(0, scale[inventory_hostname][service.container_name])%}
  server {{service.container_name}}-{{n+1}} {{inventory_hostname}}_{{service.container_name}}_{{n+1}}:{{service.bind_port}}
  {% endfor %}
{% endif %}
{% endfor %}

frontend mongo-fe
  mode tcp
  bind *:{{mongo.port}}
  use_backend mongo

frontend redis-fe
  mode tcp
  bind *:{{redis.port}}
  use_backend redis

frontend svc-fe
  mode http
  bind *:80
  {% for service in services %}
  use_backend {{service.container_name}} 
  {% endfor %}
